@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:400');
:root{
    --excBtnBorderColor: #3b64b0;
    --excBtnBorderWidth: 1px;
    --excBtnWidth: 50%;
    --containerBgColor: #73a8bd;
    --chartInnerContBgColor: lightcyan;
    --chartInnerBgColor: #909090;
    --textColorLight: #545454;
    --fontFamily: Arial, Helvetica, sans-serif;
    --filterBtnsHover: #ffeccf;
    --columnsSwitchBtnsColor: #4464a8;
    --switchSlide: #fda41c;
    --plainwhite: #ffff;
    --counterExpContBgColor: #d5d5d5;
    --plainRed: red;
    --navListItemHover: #383838;
}

.excel-btn{
    border: var(--excBtnBorderWidth) solid var(--excBtnBorderColor) !important;
    width: var(--excBtnWidth);
}

.chart-inner-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--chartInnerBgColor);
    filter: blur(20px);
    opacity: 0.1;
    z-index: -1;
    height: 80%;
    border-radius: 10px;
}

/* main */
.pro-sidebar-inner{
    background-color: var(--containerBgColor) !important;
    color: var(--textColorLight);
    font-family: var(--fontFamily) !important;
}

.pro-sidebar .pro-menu a{
    color: var(--textColorLight) !important;
    font-family: var(--fontFamily) !important;
    display: flex;
    align-items: center;
}

.pro-sidebar .pro-menu a:first-child{
    color: black !important;
}

.pro-sidebar .pro-menu .pro-menu-item:hover{
    background-color: var(--plainwhite) !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.custom-bg-color{
    background-color: var(--containerBgColor);
}

.custom-font{
    font-family: var(--fontFamily);
}

/* column headers */
.column-headers{
    background-color: var(--containerBgColor);
    color: var(--textColorLight);
}

/* column headers */
.MuiDataGrid-columnHeaderTitle{
    font-weight: 900 !important;
}


/* filtrer btns hover */
.MuiButtonBase-root.MuiButton-root:hover{
    background-color: var(--filterBtnsHover) !important;
}

/* columns switch btn */
.MuiButtonBase-root.MuiSwitch-switchBase.Mui-checked{
    color: var(--columnsSwitchBtnsColor) !important;
}

/* columns switch slide */
.MuiButtonBase-root.MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
    background-color: var(--switchSlide) !important;
}

/* hide and show all btns */
.MuiButtonBase-root.MuiButton-root{
    color: var(--textColorLight) !important;
}

/* find column bottom border */
.MuiInputBase-root.MuiInput-root:after {
    border-bottom: 2px solid var(--columnsSwitchBtnsColor) !important;
}

/* filters value focus bottom border */
.MuiInputBase-root.MuiInput-root:after{
    border-bottom: 2px solid var(--switchSlide) !important;
}

/* filters value label */
.MuiFormLabel-root.MuiInputLabel-root.Mui-focused{
    color: var(--columnsSwitchBtnsColor) !important;
}

/* filters filter and column focus bottom border */
.MuiInputBase-root.MuiInput-root.MuiSelect-root:after{
    border-bottom: 2px solid var(--columnsSwitchBtnsColor) !important;
}

/* datagrid footer */
.MuiDataGrid-footerContainer {
    background-color: transparent;
}

/* datagrid footer */
.MuiDataGrid-footerContainer{
    border: 0 !important;
}

.MuiButtonBase-root.MuiIconButton-root{
    justify-content: flex-start !important;
}
.MuiInputBase-root.MuiOutlinedInput-root{
    color: var(--plainwhite) !important;
}

.MuiContainer-root {
    background-color: var(--plainwhite) !important;
    border-radius: 5px;
}


/* forms input colors */
.MuiInputBase-input.MuiOutlinedInput-input{
    color: black !important;
}

/* forms select input color */
.MuiSelect-select.MuiInputBase-input.MuiOutlinedInput-input{
    color: black !important;
}

.MuiButtonBase-root.MuiIconButton-root {
    border-radius: 5px !important;
}

/* filter badge */
.MuiBadge-badge{
    background-color: #3aaf9d !important;
}

/* login btn */
.login-btn{
    background-color: var(--excBtnBorderColor) !important;
}

/* add btn */
.grid-parent-add-btn-container .grid-parent-add-btn{
    border-radius: 0% !important;
    font-weight: bold !important;
    color: var(--textColorLight) !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
    margin-left: 3px !important;
}

.grid-parent-add-btn-container .grid-parent-add-btn:hover{
    background-color: var(--filterBtnsHover);
    color: var(--textColorLight) !important;
}

/* counter-export container */
.counter-export{
    position: absolute;
    display: flex;
    width: 60%;
    background-color: var(--counterExpContBgColor);
    height: 20p;
    align-items: center;
    justify-content: space-evenly;
    height: 0px;
    bottom: 25px;
    color: var(--textColorLight);
    font-size: larger;
    margin-left: 14px;
}

/* list excel btn */
.counter-export .exportXLSX-btn{
    padding: 5px;
    border: 0 solid var(--columnsSwitchBtnsColor);
    font-weight: bold;
    color: var(--textColorLight) !important;
}

.counter-export .exportXLSX-btn:hover {
    background-color: var(--filterBtnsHover);
    color: var(--textColorLight) !important; 
}

/* nav */
.list-item{
    margin-right: 30px;
    text-decoration: none;
    color: var(--textColorLight);
    font-weight: bold;
}

.list-item:hover{
    color: var(--navListItemHover);
}

/* nitifications counter btn */
.counter{
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: -5px;
}

/* lists  */
.list{
    position: relative;
    background-color: var(--plainwhite);
}

/* user register form's select input label rom chaetios specialobaSi */
.css-14lo706>span {
    padding-left: 22px !important;
}

@media (max-width: 767px) {
    .counter-export{
        position: absolute;
        display: flex;
        width: 50%;
        background-color: var(--counterExpContBgColor);
        height: 20p;
        align-items: center;
        justify-content: space-evenly;
        height: 0px;
        bottom: 25px;
        color: var(--textColorLight);
        font-size: larger;
        margin-left: 14px;
    }
    /* loginform */
    .MuiStack-root{
        width: 100%;
    }
}