@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap');

.dashboard{
    display: flex;
    gap: 10px;
    justify-content: center;
    grid-column: 2/span 5;
    grid-row: 2/span5;
    gap: 30px;
    flex-wrap: wrap;
}

.chart{
    width: 40%;
    font-family: 'Noto Sans', sans-serif !important;
    color: #606060;
    position: relative;
}

.chart-in-stat{
    font-family: 'Noto Sans', sans-serif !important;
    color: #606060;
}

.chart-inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
